BASE_API_URL="http://localhost:7000"

# The following can be set as defaults, but will be overriden by scripts
# when you create new users, servers, etc. anyways
# USER_ID="<uuid>"
# USER_DOMAIN="<domain>"
# SERVER_ID="<uuid>"
# CHANNEL_ID="<uuid>"
# MESSAGE_ID="<uuid>"
